body {
  margin: 0;
}
/*
.back {
	width: 100vw;
	height: 100vh;
	background: url(img/back.jpg);
	margin: auto;
	border: 1px solid black;
}*/

.upper-blok {
	width: 100vw;
	height: 58vh;
	background-color: rgb(185, 214, 239);
	border-bottom: 0.5vh solid rgb(221, 236, 250);
}

.down-blok {
	width: 100vw;
	height: 40.5vh;
	background-color: rgb(38, 107, 151);
	border-top: 1vh solid rgb(50, 125, 173);
}

.ice {
	position: relative;
	width: 41.25vh;
	height: 61.25vh;
	left: calc(50% - 21.875vh);
	bottom: -2%;
}

.ice img {
	width: 42.25vh; 
	height: 61.25vh	;
	}

.text1 {
	text-align: center;
	height: 10vh;
	font-family: /*Arial*/ HouschkaPro Bold;
	font-weight: bold;
	font-size: 8.625vmin;
	color: rgb(254,254,254);
	text-shadow: 0.25vh 0.35vw 0px rgba(0,0,0,0.17);
	padding: 12.1vh 0vh 0vh 0vh;
	/*margin: 0px -40vh 0px -40vh;*/
}	

.text2 {
	text-align: center;
	height: 3.75vh;
	font-family: /*Arial*/ HouschkaPro Medium;
	font-size: 1.75vmin;
	color: rgb(38,107,151);
	padding: 0px 0px 0px 0px; 
	/*margin: 0px -40vh 0px -40vh;*/
}

.form {
	text-align: left;
	height: 6.25vh;
	padding: 0.75vh 0px 0px 33.55vw;
	
}

.forma {
	height: 4.625vh;
	width: 24.49vw;	
	padding: 0px 0px 0px 1vw;
}

.button {
	height: 4.625vh;
	width: 10.2vw;	
	padding: 0px 0px 0px 0px;
	/*background: yellow;*/
	background-color: #fab937;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(255, 255, 255, 0.3) 100%);
}

.ship {
	position: relative;
	height: 2.5vh;	
	overflow: hidden;
	top: -3.5vh;
	/*border: 1px solid white;*/
}

.shipgo {
	position: relative;
	width: 6.25vh;
	height: 2.5vh;
	/*margin: 0;
	padding: 0;
	text-align: center;
	right: 0;
	transform:translateX(52.55vw);*/
	animation: ship 5s linear infinite;
	/*border: 1px solid black;*/
}

/*
.shipgo img {
	height: 2.5vh;
	/*border: 1px solid red;	
}*/


@keyframes ship {
 0%   { 
	transform: translateX(106.25vw); 		
 }
 100% { 
	transform: translateX(-6.25vw); 
 }
}

@font-face {
    font-family: HouschkaPro Bold;
    src: url('fonts/HouschkaBold.ttf');
}

@font-face {
    font-family: HouschkaPro Medium;
    src: url('fonts/HouschkaMedium.ttf');
}
