	body {
  margin: 0;
  background-color: rgb(38, 107, 151);
}

.upper-blok {
	width: 100vw;
	height: 56.3vh;
	background-color: rgb(185, 214, 239);
	border-bottom: 0.5vh solid rgb(221, 236, 250);
}

.down-blok {
	width: 100vw;
	height: 42vh;
	background-color: rgb(38, 107, 151);
	border-top: 1.2vh solid rgb(50, 125, 173);
}

.ice {
	position: relative;
	width: 41.25vh;
	height: 61.25vh;
	left: calc(50% - 21.875vh);
	bottom: -1vh;
}

.ice img {
	width: 40vh; 
	height: 59vh	;
	}

.text-coming-soon {
	text-align: center;
	height: 10vh;
	font-family: /*Arial*/ HouschkaPro Bold;
	font-weight: bold;
	font-size: 8.625vmin;
	color: rgb(254,254,254);
	text-shadow: 0.25vh 0.35vw 0px rgba(0,0,0,0.17);
	padding: 12.5vh 0vh 0vh 0vh;
}	

.text-subscribe {
	text-align: center;
	height: 3.75vh;
	font-family: /*Arial*/ HouschkaPro Medium;
	font-size: 1.75vmin;
	color: rgb(38,107,151);
	padding: 0.4vh 2vh 0px 0px; 
}

.form {
	text-align: left;
	height: 6.25vh;
	padding: 0vh 0px 0px 35.5vw;
}

.forma {
	height: 4vh;
	width: 17.5vw;	
	padding: 0px 0px 0px 1vw;
	font-size: 1.5vmin;
	vertical-align: middle;
}

.button {
	height: 4vh;
	width: 7.5vw;	
	padding: 0px 0px 0px 0px;
	font-size: 1.5vmin;
	background-color: #fab937;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(255, 255, 255, 0.3) 100%);
	vertical-align: middle;
	color: rgb(254,254,254);
	font-family: Arial;
	font-weight: bold;
}

.ship {
	position: relative;
	height: 2.5vh;	
	overflow: hidden;
	top: -3vh;
}

.shipgo {
	position: relative;
	width: 6.25vh;
	height: 2.5vh;
	animation: ship 5s linear infinite;
}

@keyframes ship {
 0%   { 
	transform: translateX(106.25vw); 		
 }
 100% { 
	transform: translateX(-6.25vw); 
 }
}

.clouds {
	position: absolute;
	height: 18.2vh;	
	width: 100vw;
	overflow: hidden;
	top: -10vh;
}

.cloud-one-go {
	position: absolute;
	width: 25vh;
	height: 18vh;
	animation: cloud-one 5s linear infinite;
}

.cloud-two-go {
	position: absolute;
	width: 46vh;
	height: 18vh;
	animation: cloud-one 10s linear infinite;
	margin-left: 30vh;
	top: -1vh;
}

.cloud-two-go > img {
	margin-bottom: 5vh;
	border: 1px solid black;
}

@keyframes cloud-one {
 0%   { 
	transform: translateX(125vw); 		
 }
 100% { 
	transform: translateX(-75vw); 
 }
}

@font-face {
    font-family: HouschkaPro Bold;
    src: url('fonts/HouschkaBold.ttf');
}

@font-face {
    font-family: HouschkaPro Medium;
    src: url('fonts/HouschkaMedium.ttf');
}